/* Consumidores page specific styles */
main {
    padding-top: 4rem;
    margin: 0rem 0 0rem 0;
    box-sizing: border-box;
}

/* Beneficios Consumidores section */
.beneficiosConsumidores {
    width: 100%;
    max-width: 1200px;
    padding-top: 0rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 1rem auto;
    flex-grow: 2;
    gap: 1rem;
}

.beneficiosConsumidores-content {
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.beneficiosConsumidores_video {
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    border-radius: 30px;
    box-shadow: 10px 15px 101px -42px rgba(0,0,0,0.58);
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 560px;
    height: 315px;
    aspect-ratio: 16/9;
}

.beneficiosConsumidores h2 {
    font-weight: 900;
    font-size: clamp(3.5rem, 3vw, 4rem);
    line-height: 1.1;
    text-wrap: normal;
}

.beneficiosConsumidores__mensaje {
    text-align: left;
    margin-bottom: 1rem;
}

.beneficiosConsumidores .highlight {
    color: #378ec8;
    font-weight: 900;
}

.beneficiosConsumidores ul {
    list-style-type: none;
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.beneficiosConsumidores li {
    position: relative;
    padding-left: 1.5rem;
    margin: 1rem;
    text-align: left;
}

.beneficiosConsumidores li::before {
    content: ">";
    position: absolute;
    left: 0;
    color: var(--magenta);
    font-weight: bold;
}

/* Mensaje Gratis section */
.mensajeGratis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--amarillo);
    margin: 0 0;
    padding: 1.5rem 0;
}

.mensajeGratis h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--text-negro);
    font-weight: 800;
}

.highlight_magenta {
    color: var(--magenta);
    font-weight: 800;
}

/* Fisico Digital section */
.fisico_digital {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 2rem;
    padding-top: 2rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fisico_digital.visible {
    opacity: 1;
    transform: translateX(0);
    margin: 0;
}

.fisico_digital_celular {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fisico_digital_celular_img {
    width: 50%;
    max-width: 300px;
}

.fisico_digital_contzent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fisico_digital_content_p {
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
}

.fisico_digital_img {
    max-width: 50%;
    height: auto;
}

/* gana con cada dinamica section */
.gana_con_cada_dinamica {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 2rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.gana_con_cada_dinamica.visible {
    opacity: 1;
    transform: translateX(0);
}

.gana_con_cada_dinamica_dinamicas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gana_con_cada_dinamica_dinamicas_img {
    width: 70%;
    max-width: 300px;
}

.gana_con_cada_dinamica_texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.gana_con_cada_dinamica_texto_h2 {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 900;
    font-size: clamp(2.5rem, 6vw, 2.7rem);
    line-height: 1.2;
    text-align: right;
}

.gana_con_cada_dinamica_texto_p {
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    text-align: right;
}

/* negocios preferidos section */
.negocios_preferidos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 2rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.negocios_preferidos.visible {
    opacity: 1;
    transform: translateX(0);
}

.negocios_preferidos_negocios {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.negocios_preferidos_negocios_img {
    width: 70%;
    max-width: 300px;
}

.negocios_preferidos_texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.negocios_preferidos_texto_h2 {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 900;
    font-size: clamp(2.5rem, 6vw, 2.7rem);
    line-height: 1.2;
    text-align: left;
}

.negocios_preferidos_texto_p {
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    text-align: left;
}

.unamejor_experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem;
    background-color: var(--amarillo);
    text-align: center;
    width: 100%;
    /* max-width: 1200px; */
}

.unamejor_experiencia_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.unamejor_experiencia_texto_h2 {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 900;
    font-size: clamp(2.5rem, 6vw, 2.7rem);
    line-height: 1.2;
    text-align: center;
}

#texto_mejor_experiencia {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 400;
    font-size: clamp(2.5rem, 6vw, 2.7rem);
    line-height: 1.2;
    text-align: center;
}

/* Responsive styles */
@media (width < 1000px) {
    .beneficiosConsumidores {
        flex-direction: column;
        padding: 3rem 0rem;
        margin: 0 0rem;
        align-items: center;
    }
    
    .beneficiosConsumidores-content {
        flex: 1;
        width: 100%;
        margin: auto;
        text-align: left;
    }
    
    .beneficiosConsumidores h2 {
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1.1;
    }
    
    .beneficiosConsumidores_video {
        flex: 1;
        width: 100%;
        margin-bottom: 0rem;
        text-align: center;
    }

    li {
        font-size: 1rem;
    }

    .video-container {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .mensajeGratis {
        display: flex;
        margin: 0;
        padding: 1rem;
    }

    .fisico_digital {
        flex-direction: row;
        margin: 1rem;
        padding-top: 1rem;
        gap: 2rem;
    }

    .fisico_digital_celular {
        width: 100%;
        order: 1;
    }

    .fisico_digital_celular_img {
        width: 70%;
        max-width: 250px;
    }

    .fisico_digital_contzent {
        width: 100%;
        order: 2;
    }

    .fisico_digital_content_p {
        clamp(1.2rem, 1.2vw, 1.4rem);
        margin-bottom: 1.5rem;
        text-align: center;
        padding: 0 1rem;
    }

    .fisico_digital_img {
        max-width: 80%;
        height: auto;
    }

    .gana_con_cada_dinamica {
        flex-direction: column;
        margin-top: 3rem;
        gap: 2rem;
    }

    .gana_con_cada_dinamica_dinamicas {
        width: 100%;
        order: 2;
    }

    .gana_con_cada_dinamica_dinamicas_img {
        width: 80%;
        max-width: 250px;
        margin: 0;
    }

    .gana_con_cada_dinamica_texto {
        width: 100%;
        order: 1;
        text-align: center;
        margin: 0;
    }

    .gana_con_cada_dinamica_texto_h2 {
        text-align: center;
        font-size: 2rem;
    }

    .gana_con_cada_dinamica_texto_p {
        text-align: center;
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .negocios_preferidos {
        flex-direction: column;
        margin-top: 3rem;
        gap: 2rem;
    }

    .negocios_preferidos_negocios {
        width: 100%;
        order: 2;
    }

    .negocios_preferidos_negocios_img {
        width: 80%;
        max-width: 250px;
    }

    .negocios_preferidos_texto {
        width: 100%;
        order: 1;
        text-align: center;
    }

    .negocios_preferidos_texto_h2 {
        text-align: center;
        font-size: 2rem;
    }

    .negocios_preferidos_texto_p {
        text-align: center;
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .unamejor_experiencia {
        flex-direction: column;
        margin: 1rem auto;
        align-items: center;
        padding: 0.5rem;
    }
    
   #video_mejor_experiencia {
        width: 90%;
        height: auto;
    }

    .unamejor_experiencia_texto_h2 {
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 900;
        font-size: clamp(1.8rem, 4vw, 2rem);
        line-height: 1.2;
        text-align: center;
    }

    #texto_mejor_experiencia {
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 400;
        font-size: clamp(1.3rem, 3vw, 1rem);
        line-height: 1.2;
        text-align: center;
    }
}

/* Rango adicional disponible para futuras reglas:
   @media (width >= 300px) {}
   @media (640px <= width < 768px) {}
*/