main {
    padding-top: 7rem;
    margin: 0 3rem;
    box-sizing: border-box;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: clamp(1.2rem, 1vw, 1rem);
    font-weight: 200;
    line-height: 1.1;
    text-align: justify;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

@media (width < 1000px) {
    p {
        font-family: 'Nunito', sans-serif;
        font-size: clamp(1rem, 1vw, 1rem);
        font-weight: 300;
        line-height: 1.1;
        text-align: justify;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

/* Rango adicional disponible para futuras reglas:
   @media (width >= 300px) {}
   @media (640px <= width < 768px) {}
*/