@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #ffffff;
    --text-negro: #2b2d42;
    --magenta: #C4227D;
    --amarillo: #FFE700;
    --gris: #e0dcdc;
    --texto-blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

.header {
    background-color: var(--gris);
    box-shadow: 0 5px 5px rgba(32, 30, 30, 0.1);
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000;
    background-color: rgba(224, 220, 220, 0.9);
}

.nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.logo img {
    height: 90px;
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav_links a {
    text-decoration: none;
    color: var(--magenta);
    font-size: 1.3rem;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav_links a:hover {
    color: var(--text-negro);
    transition: all 0.5s;
    transform: scale(1.15);
    display: inline-block;
}

main {
    margin: 5rem 0 0 0;
}

.usuarios {
    flex-direction: column;
}

.usuarios-grid {
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.img__seccion {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.usuarios-card {
    background: var(--background-color);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.flecha__usuarios {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.poderL {
    color: var(--text-negro);
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    
}

.lista_espera {
    color: var(--text-negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}

.unirme_button {
    padding: 2% 5%;
    font-size: 0.8rem;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 8px 8px 0px 0px #000000;
}

.footer {
    background-color: var(--background-color);
    padding: 3rem 2rem 1rem 1rem;
}

.footer_seccion {
    border: 2px solid #000000;
    border-top: 50px solid #000000; 
}

.footer_content {
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer_links h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.footer_links ul {
    list-style: none;
}

.footer_links a {
    color: var(--magenta);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    padding: 0.2rem 0;
}

.footer_links a:hover {
    color: var(--text-color);
}

.footer_bottom {
    text-align: center;
    padding: 1rem 1rem;
    border: 1px solid #000000;);
    margin: 0% 25%;
    box-shadow: 10px 10px 0px 0px #000000;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .usuarios-grid,
    .usuarios-grid {
        grid-template-columns: 1fr;
    }
}